.cover__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-decoration: none;
  background: #2a2c2f;

  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  background-image: url(../../../images/cover__background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover__link::after {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}

.cover__link:hover {
  opacity: 0.8;
}
