.intro__text {
  margin-top: 40px;

  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 767px) {
  .intro__text {
    min-width: 288px;
    font-size: 16px;
    line-height: 163%;
    margin-right: 16px;
    margin-left: 16px;
  }
}
